
header {
    width: 100%;
    height: 100px;
    background: var(--secondary);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

/* Hamburguer menu */
.hamburger-icon {
    height: 40px;
    width: 40px;
    padding-top: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: auto;
}

.hamburger-icon__icon-1, .hamburger-icon__icon-2, .hamburger-icon__icon-3 {
    width: 40px;
    height: 2px;
    background-color: #E5C15D;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.hamburger-icon__icon-1 {
    transform: translateY(-10px);
    animation-delay: 100ms;
}

.hamburger-icon__icon-3 {
    transform: translateY(10px);
    animation-delay: 250ms;
}
  
.hamburger-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.hamburger-icon__icon-1.a {
    transform: rotate(48deg);
}

.hamburger-icon__icon-3.b {
    transform: rotate(-48deg) translateY(-2px);

}

.hamburger-icon__icon-2.c {
    transition: all ease-in-out 0.3s;
    opacity: 0;
    height: 0px;
    width: 0px;
}

.clear {
    clear: both;
}

@keyframes slideIn {
    0% {
        width: 0%;
        transform: scale(.3);
        opacity: 0;
    }
    100% {
        width: 50%;
        transform: scale(1);
        opacity: 1;
    }
}

nav {
    background: var(--black);
    position: absolute;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 0%;
    z-index: 100;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding-left: 0;
}

nav ul li{
    list-style: none;
    font-size: 22px;
    line-height: 3;
    letter-spacing: 1px;
}

nav ul li{
    transition: all ease-in-out 0.3s;
}

nav ul li:hover{
    transform: scale(1.1);
    font-weight: 500;
}

nav ul li:hover a{
    color: var(--terciary);
}

nav.show {
    width: 100%;
    opacity: 1;
}

.shadow {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    height: 100dvh;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
}

.shadow.slide {
    width: 100%;
    opacity: 1;
}

@keyframes shotup {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
    90% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media(min-width: 768px){
    nav.show {
        width: 30%;
    }

    .shadow.slide{
        width: 30%;
    }
}

/* end Hamburguer menu */

header img{
    width: 75px;
    height: 75px;
    transition: all ease-in-out 0.3s;
}

header img:hover{
    transform: scale(1.08);
}