/* O CSS Segue o padrão Mobile First e a nomenclatura BEM para as classes */


/* Paleta de Cores (Disponível no projeto do FIGMA) */
:root {
  --primary: #0f0f0f;
  --secondary: #1e1e1e;
  --terciary: #E7C360;
  --black: #000000;
  --white: #EDEDED;
  --red: #d62e2e;
  --green: #4CAF50;
  --text: #3b3b3b;
}

/* Start CSS Global */
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    color: var(--white);
  }

  body {
    background: linear-gradient(to right, #b9b9b9, #666);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  main{
    padding-top: 100px;
    height: 100%;
    flex-grow: 1;
    display: flex;
  }

  .flex{
    display: flex;
  }

  .flex-end{
    justify-content: flex-end;
  }

  /* Animações */
  @keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px); }
    50% { transform: translate(5px); }
    75% { transform: translate(-5px); }
    100% { transform: translate(0); }
  }

  /* Containers */
  .container {
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
    padding-left: 1rem;  
    padding-right: 1rem; 
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  /* Breakpoints */
    /* md */
    @media(min-width: 768px){

    }

    /* lg */
    @media(min-width: 1280px){

    }

/* end CSS Global */




