.adicionarAlunoModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.adicionarAlunoModal__modal{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    min-height: 80%;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}